<el-text style="font-size: 32px;" size="large" tag="b">ZYGameUI引擎：基于OpenFL实现的快速游戏引擎</el-text>
<el-text size="large">支持小游戏平台，原生的Android、IOS应用生成</el-text>
<el-timeline style="padding-right: 30px;">
    <el-timeline-item v-for="item in timelines" :type="item.type" :timestamp="item.time" placement="top">
        <el-card>
            <h2>{{ item.title }}</h2>
            <p>{{ item.content }}</p>
            <!-- 链接访问 -->
            <div v-if="item.link != null">
                <el-divider content-position="left">关于资料</el-divider>
                <el-row v-for="link in item.link">
                    <el-link :href="link.url" target="_blank">{{ link.name }} ({{ link.url }})</el-link>
                </el-row>
            </div>
        </el-card>
    </el-timeline-item>
</el-timeline>